<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541125327449-np4nkmh3gu74pqrcade5h621mmha6k53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541125327449-np4nkmh3gu74pqrcade5h621mmha6k53</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541125327449-b46cv8nj6o8eou5b2nl9rmkksrildtqe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxEwyTMJjJZ625C7t2VTAKvdq395RwE1M</string>
	<key>GCM_SENDER_ID</key>
	<string>541125327449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dearfriends</string>
	<key>PROJECT_ID</key>
	<string>dear-friends-d5a9c</string>
	<key>STORAGE_BUCKET</key>
	<string>dear-friends-d5a9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541125327449:ios:0ec9f83066c03fc7ec8f48</string>
</dict>
</plist>